body{
    background-color: #ffffff;
}
.general-div{
    margin: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 6fr;
}
.side-bar{
    background-color: rgba(225, 225, 225, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.profile{
    display: grid;
    justify-content: center;
}
.ads-bar{
    height: 200px;
}
.button-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}
.card{
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* max-width: 200px; */
    /* margin: auto; */
}
li{
    list-style-type: none;
}