
.general-div{
    margin: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 6fr;
}
.side-bar{
    background-color: #FF0000;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    height: 100vh;
}
.profile-div{
    display: grid;
    justify-content: center;
}
.ads-bar{
    height: 215px;
}
.button-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.card{
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
li{
    list-style-type: none;
}
.button-col{
    background-color: #ff0000;
    color: #FFffff;
}

@media all and (max-width:320px){
    .general-div{
        display: grid;
        grid-template-columns: 1fr;
    }
    .button-div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card{
        font-size: 0.6em;
    }
    .ads-bar{
        height: 150px;
    }
    .carousel-img{
        height: 150px;
    }
    .side-bar{
        height: fit-content;
    }
}
@media all and (min-width:321px) and (max-width:375px){
    .general-div{
        display: grid;
        grid-template-columns: 1fr;
    }
    .button-div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card{
        font-size: 0.7em;
    }
    .ads-bar{
        height: 160px;
    }
    .carousel-img{
        height: 160px;
    }
    .side-bar{
        height: fit-content;
    }
}
@media all and (min-width:376px) and (max-width:425px){
    .general-div{
        display: grid;
        grid-template-columns: 1fr;
    }
    .button-div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card{
        font-size: 0.7em;
    }
    .ads-bar{
        height: 170px;
    }
    .carousel-img{
        height: 170px;
    }
    .side-bar{
        height: fit-content;
    }
}
@media all and (min-width:426px) and (max-width:768px){
    .card{
        font-size: 0.8em;
    }
    .side-bar{
        height: fit-content;
    }
    #Userbalance{
        font-size: 1em;
    }
    .ads-bar{
        height: 210px;
    }
    .carousel-img{
        height: 210px;
    }
}
@media all and (min-width:769px) and (max-width:820px){
    .card{
        font-size: 0.8em;
    }
    .side-bar{
        height: fit-content;
    }
    #Userbalance{
        font-size: 1em;
    }
    .ads-bar{
        height: 210px;
    }
    .carousel-img{
        height: 210px;
    }
}
@media all and (min-width:821px) and (max-width:912px){
    .card{
        font-size: 0.8em;
    }
    .side-bar{
        height: fit-content;
    }
    #Userbalance{
        font-size: 1em;
    }
    .ads-bar{
        height: 210px;
    }
    .carousel-img{
        height: 210px;
    }
}
