.general-div{
    border: 2px solid red ;
    margin: auto;
    height: 610px;
    display: grid;
    grid-template-columns: 2fr 6fr;
}
.side-bar{
    border: 1px solid blue;
}
.rightside-bar{
    border: 1px solid green;
}
.ads-bar{
    border: 1px solid yellow;
    height: 200px;
    /* background-image: url(/Img/ads.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.button-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card{
    display: grid;
    align-items: center;
    max-width: 150px;
    margin: auto;
}