*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.img2{
    display: grid;
    justify-content: center;
    align-items: center;
}
.layer{
    max-width: 400px;
    margin: auto;
    padding: 10px 40px 40px 40px;
    background-color: #ffffff;
    box-shadow: 2px 2px 20px 2px rgb(73,73,75,20%);
    height: 100vh;
}
.up{
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
}
.log a{
    color: red;
    text-decoration: none;
    font-size: 1em;
}
.log a:hover{
    color: red;
}