section{
    max-width: 49%;
    margin: auto;
}
#headerWithdraw{
    display: flex;
    justify-content: space-between;
    color: #769139;
}
#headerWithdraw h4{
    margin-top: 5px;
}
.container{
    margin: auto;
    max-width: 48%;
}
.receipient{
    padding-top: 20px;
}
.receipient h5{
    padding-top: -80px;
}
#specificdiv{
    background-color: azure;
    border: 0;
    margin-top: -5px;
    text-align: center;
    height: 60px;
}
.specificdrop{
    padding-top: 15px;
}
.amount{
    padding-top: 40px;
}
#currency{
    display: flex;
    background-color: azure;

}
#currency div{
     width: 30px; height: 40px;
}
#currency div h4{
    font-size: 30px !important;
}
#donebtn{
    height: 70px;
    border-radius: 5px;
    width: 690px;
    margin-top: 50px;
    background-color: #769139;
    border: 0;
}
input{
    font-size: 120px;
    height: 50px;
}
button{
    background-color: white;
    border: none;
}
@media all and (min-width : 320px) and (max-width : 425px) {
    #donebtn{
        width: 150px;
    }
}
@media all and (min-width : 426px) and (max-width : 768px) {
    #donebtn{
        max-width: 350px;
    }
}
@media all and (min-width : 769px) and (max-width : 1024px) {
    #donebtn{
        max-width: 470px;
    }
}